.stepper-btn {
  border-radius: 4px;
  height: 40px;
  font-size: 20px;
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin: 16px;
}

.stepper-title {
  font-size: 24px;
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  text-transform: capitalize;
}
