<mat-sidenav-container class="sidenav_container">
  <mat-sidenav #drawer
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'side'"
               [opened]="true"
               [fixedInViewport]="true"
               class="sidenav">

<!--    Create a div to trigger touch gesture on the entire sidenav-->
    <div class="sidenav_touch" (swipeleft)="closeDialog()" (click)="closeDialog()"></div>

    <mat-toolbar class="toolbar" color="accent">
      <mat-icon>person</mat-icon>
      <p class="sidenav_name_displayed"> GIANLUCA MARCIANO&nbsp;</p>
      <span class="spacer"></span>
      <mat-icon (click)="CloseNavBar()">close</mat-icon>
    </mat-toolbar>


   <app-menu-sidenav></app-menu-sidenav>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav_content">


    <mat-toolbar class="toolbar sidenav_content_toolbar"  color="accent" (swiperight)="closeDialog()">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        type="button">
        <mat-icon>
          {{MenuIconState()}}
        </mat-icon>
      </button>
      <h2>ILG</h2>
      <span class="spacer"></span>
      <button mat-button mat-flat-button style="background-color: transparent; color: white;">ESCI
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>



    <div class="sidenav_content_container">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
