<mat-toolbar class="toolbar sidenav_content_toolbar"  color="accent" (swiperight)="closeDialog()">
  <button
    (click)="drawer.toggle()"
    mat-icon-button
    type="button">
    <mat-icon>
      {{ 'open' | ToolbarIconState: drawer.opened}}
    </mat-icon>
  </button>
  <h2>ILG</h2>
  <span class="spacer"></span>
  <button (click)="logout()" mat-button mat-flat-button class="btn-logout">ESCI
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav_container">
  <mat-sidenav #drawer
               fxFlex.lt-md="100"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'side'"
               [opened]="true"
               [fixedInViewport]="true"
               [class.mat-elevation-z8]="true"
               class="sidenav">

<!--    Create a div to trigger touch gesture on the entire sidenav-->
    <div class="sidenav_touch" (swipeleft)="closeDialog()" (click)="closeDialog()"></div>



   <app-menu-sidenav></app-menu-sidenav>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav_content">
        <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
