@import "~src/assets/scss/colors";

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  color: white;
  cursor: pointer;
  top: 0;
  z-index: 999;
  position: fixed;

  .btn-logout {
    background-color: transparent;
    color: white;
  }

}

.sidenav_container {
  // Serve per rendere la toolbar sticky
  // https://stackoverflow.com/questions/43707076/position-sticky-not-working-css-and-html/47878455#47878455
  overflow: visible;
  margin-top: 64px;
  height: 100%;
  flex: 1 1 auto;
}

/*
*  Se si passa dalla modalità mobile a quella desktop non rimane centrato il form. Cosi ci assicuriamo
*  che sia sempre al 100% di lunghezza disponible
**/
::ng-deep .mat-drawer-content {
  width: calc(100% - 400px) !important;
}

.sidenav {
  max-width: 450px;
  width: 400px;
  margin-top: 64px;

  .sidenav_touch {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #info-user {
    font-size: 30px;
    margin-bottom: 3px
  }

  .sidenav_name_displayed {
    font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    margin-left: 15px;
    font-size: 28px;
    font-weight: 300;
  }

}

.mat-list-base {
  padding-top: 5px;
  display: block;
  -webkit-tap-highlight-color: transparent;
}



.sidenav_content {
  // Serve per rendere la toolbar sticky
  // https://stackoverflow.com/questions/43707076/position-sticky-not-working-css-and-html/47878455#47878455
  overflow: visible;


  .sidenav_content_toolbar {
    position: sticky;
  }

}
