<mat-toolbar class="toolbar sidenav_content_toolbar"  color="accent" (swiperight)="closeDialog()">
  <button
    (click)="drawer.toggle()"
    mat-icon-button
    type="button">
    <mat-icon>
      {{MenuIconState()}}
    </mat-icon>
  </button>
  <h2>ILG</h2>
  <span class="spacer"></span>
  <button (click)="logout()" mat-button mat-flat-button style="background-color: transparent; color: white;">ESCI
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav_container">
  <mat-sidenav #drawer
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'side'"
               [opened]="true"
               [fixedInViewport]="true"
               [class.mat-elevation-z8]="true"
               class="sidenav">

<!--    Create a div to trigger touch gesture on the entire sidenav-->
    <div class="sidenav_touch" (swipeleft)="closeDialog()" (click)="closeDialog()"></div>

    <div fxLayout="column">
<!--
      <div style="background-color: #757575; width: 100%; height: 15px;"></div>
-->
      <mat-nav-list>
        <mat-list>
          <mat-list-item>
            <mat-icon style="font-size: 30px; margin-bottom: 3px">account_circle</mat-icon><p class="sidenav_name_displayed"> Mario Rossi&nbsp;</p>
          </mat-list-item>
        </mat-list>
      </mat-nav-list>

      <span class="spacer"></span>
    </div>

   <app-menu-sidenav></app-menu-sidenav>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav_content">






    <div class="sidenav_content_container">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
