<div [formGroup]="parent" fxLayout="column">


  <!-- <mat-form-field appearance="outline">
     <mat-label>Appertenente alle categorie protette</mat-label>
     <mat-select [formControl]="appartenenza"
                 placeholder="SI / NO">

       <mat-option value="NO">NO</mat-option>
       <mat-option value="SI">SI</mat-option>
     </mat-select>

   </mat-form-field>
 -->

  <p>Appartenente alle categorie protette ?</p>
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" style="margin-bottom: 20px">

    <mat-button-toggle-group fxLayout="row"  [formControl]="appartenenza">
      <mat-button-toggle value="NO" style="width: 50%;">NO</mat-button-toggle>
      <mat-button-toggle value="SI" style="width: 50%;">SI</mat-button-toggle>
    </mat-button-toggle-group>

  </div>

  <div *ngIf="appartenenza.value === 'SI'" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

    <mat-form-field appearance="outline" fxFlex="auto">
      <mat-label>Percentuale invalidità</mat-label>
      <input [formControl]="percInvalidita"
             matInput
             placeholder="Percentuale invalidità">
      <span matPrefix>%&nbsp;</span>
      <mat-hint>* Required</mat-hint>
      <mat-error *ngIf="percInvalidita.hasError('required')">Campo Obbligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="auto">
      <mat-label>Data certificazione</mat-label>
      <input (click)="picker.open()"
             [formControl]="dataCertificazione"
             [matDatepicker]="picker"
             matInput
             placeholder="Data certificazione">
      <mat-datepicker-toggle [for]="picker" matSuffix style="color: white"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error *ngIf="dataCertificazione.hasError('required')">Campo Obbligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="auto">
      <mat-label>Rilasciato da</mat-label>
      <input [formControl]="invaliditaEnte"
             matInput
             placeholder="Rilasciato Da">

      <mat-hint>Es: INPS di Roma</mat-hint>

      <mat-error *ngIf="invaliditaEnte.hasError('required')">Campo Obbligatorio</mat-error>
      <mat-error *ngIf="invaliditaEnte.hasError('maxlength')">Hai superato il limite dei caratteri</mat-error>
    </mat-form-field>

  </div>

  <div *ngIf="appartenenza.value === 'SI'" fxLayout="column" fxLayoutGap="15px" style="margin-top: 10px;">

    <mat-checkbox [formControl]="ausiliProva" color="accent">Dichiaro di avere diritto ad usufruire di ausili per lo
      svolgimento delle prove d'esame
    </mat-checkbox>

    <mat-checkbox [formControl]="tempiAggiuntiviProva" color="accent"> Dichiaro di avere diritto ad usufruire di
      eventuali
      tempi aggiuntivi
    </mat-checkbox>

    <mat-checkbox [formControl]="esenzioneProvaSelettiva" color="accent">Dichiaro di avere diritto, in quanto affetto da
      invalità uguale o superiore all'80%, a non effettuare l'eventuale prova preselettiva
    </mat-checkbox>
  </div>

  <div fxLayout="column" style="margin-top: 10px;">
    <div fxFlex="row" fxLayoutGap="15px">
      <span fxFill fxFlex="1 1 0"></span>
      <button class="material-button" color="primary" mat-flat-button matStepperPrevious>Indietro</button>
      <button class="material-button" color="primary" mat-flat-button matStepperNext>Avanti</button>
    </div>
  </div>


</div>

