<div [formGroup]="parent" fxLayout="column">

  <p>Appartenente alle categorie protette ?</p>
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" style="margin-bottom: 20px">

    <mat-button-toggle-group fxLayout="row"  [formControl]="appartenenza">
      <mat-button-toggle value="NO" style="width: 50%;">NO</mat-button-toggle>
      <mat-button-toggle value="SI" style="width: 50%;">SI</mat-button-toggle>
    </mat-button-toggle-group>

  </div>

  <div *ngIf="appartenenza.value === 'SI'" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <mat-form-field appearance="outline" fxFlex="auto">
      <mat-label>Percentuale invalidità</mat-label>
      <input [formControl]="percInvalidita"
             matInput
             placeholder="Percentuale invalidità">
      <span matPrefix>%&nbsp;</span>
      <mat-hint>* Required</mat-hint>
      <mat-error *ngIf="percInvalidita.hasError('required')">Campo Obbligatorio</mat-error>
    </mat-form-field>

    <mat-form-field  appearance="outline" fxFlex="auto" >
      <mat-label>Data certificazione</mat-label>
      <input (click)="dataCertificazioneInv.open()"
             [formControl]="dataCertificazione"
             [matDatepicker]="dataCertificazioneInv"
             matInput
             placeholder="dd/mm/yyyy">
      <mat-datepicker-toggle [for]="dataCertificazioneInv" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #dataCertificazioneInv></mat-datepicker>

      <mat-error *ngIf="dataCertificazione.hasError('required')">Campo Obbligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="auto">
      <mat-label>Rilasciato da</mat-label>
      <input [formControl]="invaliditaEnte"
             matInput
             placeholder="Rilasciato Da">

      <mat-hint>Es: INPS di Roma</mat-hint>

      <mat-error *ngIf="invaliditaEnte.hasError('required')">Campo Obbligatorio</mat-error>
      <mat-error *ngIf="invaliditaEnte.hasError('maxlength')">Hai superato il limite dei caratteri</mat-error>
    </mat-form-field>
  </div>


    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" formGroupName="formCategorieProtette">

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Provincia Istituto</mat-label>
        <mat-select #provinceInvSelect
                    formControlName="provincia"
                    placeholder="Seleziona Provincia istituto">

          <ngx-mat-select-search  formControlName="provinceDropdown"
                                  [noEntriesFoundLabel]="'Nessun risultato'"
                                  [placeholderLabel]="'Cerca provincia . . '"></ngx-mat-select-search>
          <mat-option *ngFor="let prov of (filtroProvince | async)" [value]="prov">
            {{prov.nome}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="provincia.hasError('required')">Campo Obbligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Comune Istituto</mat-label>
        <mat-select #comuneInvSelect
                    formControlName="comune"
                    placeholder="Seleziona Comune istituto">
          <ngx-mat-select-search  formControlName="comuniDropdown"
                                  [noEntriesFoundLabel]="'Nessun risultato'"
                                  [placeholderLabel]="'Cerca comune . . '"></ngx-mat-select-search>
          <mat-option *ngFor="let com of (filtroComuni | async)" [value]="com">
            {{com.nome}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="comune.hasError('required')">Campo Obbligatorio</mat-error>
      </mat-form-field>

    </div>



  </div>

  <div *ngIf="appartenenza.value === 'SI'" fxLayout="column" fxLayoutGap="15px" style="margin-top: 10px;">

    <mat-checkbox [formControl]="ausiliProva" color="primary">Dichiaro di avere diritto ad usufruire di ausili per lo
      svolgimento delle prove d'esame
    </mat-checkbox>

    <mat-checkbox [formControl]="tempiAggiuntiviProva" color="primary"> Dichiaro di avere diritto ad usufruire di
      eventuali
      tempi aggiuntivi
    </mat-checkbox>

    <mat-checkbox [formControl]="esenzioneProvaSelettiva" color="primary">Dichiaro di avere diritto, in quanto affetto da
      invalità uguale o superiore all'80%, a non effettuare l'eventuale prova preselettiva
    </mat-checkbox>
  </div>

  <div fxLayout="column">
    <div fxFlex="row" fxLayoutGap="15px">
      <span fxFill fxFlex="1 1 0"></span>
      <button class="stepper_button" color="primary" mat-flat-button matStepperPrevious>Indietro</button>
      <button class="stepper_button" color="primary" [disabled]="allowNextStep()" mat-flat-button matStepperNext>Avanti</button>
    </div>
  </div>

