.material-button {
  margin-right: 15px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.mat-button-toggle-checked {
  background-color: #0267cc;
  color: white;
}


