<div [formGroup]="form">

  <div formGroupName="formIstruzione">


    <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column">
        <mat-filter-select fxFlex="100"
                           [dataSet]="listaTipologie"
                           [bindedForm]="getSingleForm('tipologia')"
                           [iterateOver]="'desc'"
                           ></mat-filter-select>

        <mat-filter-select fxFlex="100"
                           *ngIf="renderTitoli"
                           [dataSet]="listaTitoli"
                           [bindedForm]="getSingleForm('titolo')"
                           [iterateOver]="'desc'"
        >

        </mat-filter-select>

      <mat-filter-select fxFlex="100"
                         *ngIf="renderIndirizzi"
                         [dataSet]="listaIndirizzi"
                         [bindedForm]="getSingleForm('indirizzo')"
                         [iterateOver]="'desc'"
      >

      </mat-filter-select>
    </div>

    <div *ngIf="renderAltroIndirizzo">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Specificare altro indirizzo</mat-label>
        <input matInput formControlName="altroIndirizzo" placeholder="altro indirizzo">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

      <mat-form-field appearance="outline" fxFlex="40">
        <mat-label>Indirizzo fisico dell'istituto</mat-label>
        <input formControlName="indirizzoFisico" matInput placeholder="Indirizzo dell'istituto">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="40">
        <mat-label>Nome istituto</mat-label>
        <input formControlName="nomeIstituto" matInput placeholder="Nome dell'istituto">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="20">
        <mat-label>Anno conseguimento</mat-label>
        <input formControlName="dataConseguimento" matInput maxlength="4" minlength="4" placeholder="ex: 2001">

        <mat-error *ngIf="getSingleForm('dataConseguimento').hasError('required')">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="getSingleForm('dataConseguimento').hasError('onlyNumber')">Inserire nel campo solo numberi</mat-error>
        <mat-error *ngIf="getSingleForm('dataConseguimento').hasError('max')">L'anno è superiore all'anno corrente</mat-error>
        <mat-error *ngIf="getSingleForm('dataConseguimento').hasError('minlength')">L'anno deve avere solo 4 numeri</mat-error>
        <mat-error *ngIf="getSingleForm('dataConseguimento').hasError('maxlength')">L'anno deve avere solo 4 numeri</mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

      <mat-filter-select fxFlex="100"
                         [dataSet]="listaProvince"
                         [bindedForm]="getSingleForm('provinciaIstituto')"
                         [iterateOver]="'nome'">

      </mat-filter-select>
      <div fxFlex="100">
        <mat-filter-select
          *ngIf="renderComuni"
          [dataSet]="listaComuni"
          [bindedForm]="getSingleForm('comuneIstituto')"
          [iterateOver]="'nome'">
        </mat-filter-select>

      </div>




    </div>

    <app-stepper [isValid]="form.controls.formIstruzione.valid"></app-stepper>

  </div>
</div>
