<div [formGroup]="parent" >

  <div formGroupName="formIstruzione">

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

<!--      <mat-form-field appearance="outline" fxFlex="40">
        <mat-label>Istituto frequentato</mat-label>
        <input [formControl]="istitutoFrequentato"
               matInput
               maxLength="255"
               placeholder="Es: Istituto Tecnico Commerciale">

        <mat-hint align="end">{{istitutoFrequentato.value?.length || 0}}/255</mat-hint>
        <mat-hint>&emsp;* Required</mat-hint>

        <mat-error *ngIf="istitutoFrequentato.hasError('required')">
          Campo Obbligatorio
        </mat-error>
        <mat-error *ngIf="istitutoFrequentato.hasError('maxlength')">
          I caratteri massimi sono 255
        </mat-error>
        <mat-error *ngIf="istitutoFrequentato.hasError('minlength')">
          I caratteri minimi sono 2
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="40">
        <mat-label>Tipo diploma</mat-label>
        <input [formControl]="tipoDiploma"
               matInput
               maxLength="255"
               placeholder="Tipo di diploma conseguito">

        <mat-hint align="end">{{tipoDiploma.value?.length || 0}}/255</mat-hint>
        <mat-hint>&emsp;* Required</mat-hint>

        <mat-error *ngIf="tipoDiploma.hasError('required')">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="tipoDiploma.hasError('maxlength')">Hai superato il limite dei caratteri</mat-error>
      </mat-form-field>-->

      <mat-form-field appearance="outline" fxFlex="18">
        <mat-label>Anno diploma</mat-label>
        <input [formControl]="annoDiploma"
               matInput
               maxlength="4"
               minlength="4"
               placeholder="Anno Diploma">

        <mat-hint>&emsp;* Required</mat-hint>

        <mat-error *ngIf="annoDiploma.hasError('required')">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="annoDiploma.hasError('onlyNumber')">Inserire nel campo solo numberi</mat-error>
        <mat-error *ngIf="annoDiploma.hasError('max')">L'anno è superiore all'anno corrente</mat-error>
        <mat-error *ngIf="annoDiploma.hasError('minlength')">L'anno deve avere solo 4 numeri</mat-error>
        <mat-error *ngIf="annoDiploma.hasError('maxlength')">L'anno deve avere solo 4 numeri</mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column">

      <mat-form-field appearance="outline" fxFlex="40">
        <mat-select #provinceSelect
                    formControlName="provinciaIstituto"
                    placeholder="Seleziona Provincia istituto">

          <ngx-mat-select-search formControlName="provinceDropdown"
                                 [noEntriesFoundLabel]="'Nessun risultato'"
                                 [placeholderLabel]="'Cerca provincia . . '"></ngx-mat-select-search>
          <mat-option *ngFor="let prov of (filtroProvince | async)" [value]="prov">
            {{prov.nome}}
          </mat-option>
        </mat-select>
        <mat-hint>&emsp;* Required</mat-hint>

        <mat-error *ngIf="provinciaIstituto.hasError('required')">Campo Obbligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="40">
        <mat-select #comuneSelect
                    formControlName="comuneIstituto"
                    placeholder="Seleziona Comune istituto">
          <ngx-mat-select-search formControlName="comuniDropdown"
                                 [noEntriesFoundLabel]="'Nessun risultato'"
                                 [placeholderLabel]="'Cerca comune . . '"></ngx-mat-select-search>
          <mat-option *ngFor="let com of (filtroComuni | async)" [value]="com">
            {{com.nome}}
          </mat-option>
        </mat-select>
        <mat-hint>&emsp;* Required</mat-hint>
        <mat-error *ngIf="comuneIstituto.hasError('required')">Campo Obbligatorio</mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <mat-form-field appearance="outline" fxFlex="40">
        <mat-label>Sede Istituto</mat-label>
        <input [formControl]="viaIstituto"
               matInput
               maxlength="255"
               placeholder="Inserire la via dell'istituto">

        <mat-hint align="end">{{viaIstituto.value?.length || 0}}/255</mat-hint>
        <mat-error *ngIf="viaIstituto.hasError('required')">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="viaIstituto.hasError('maxlength')">Hai superato il limite dei caratteri</mat-error>

      </mat-form-field>
    </div>


  <div fxLayout="column">
    <div fxFlex="row" fxLayoutGap="15px">
      <span fxFill fxFlex="1 1 0"></span>
      <button class="stepper_button" color="primary" mat-flat-button matStepperPrevious>Indietro</button>
      <button class="stepper_button" color="primary" mat-flat-button matStepperNext>Avanti</button>
    </div>
  </div>

  </div>
</div>
