<div [formGroup]="parent" >

  <div formGroupName="formIstruzione">

    <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column">

      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Tipologia istituto</mat-label>
        <mat-select #tipologiaSelect
                    formControlName="tipologia"
                    placeholder="Seleziona tipologia titolo di studio">

          <ngx-mat-select-search  formControlName="tipologiaDropdown"
                                  [noEntriesFoundLabel]="'Nessun risultato'"
                                  [placeholderLabel]="'Cerca tipologia . . '"></ngx-mat-select-search>
          <mat-option *ngFor="let tipo of (filtroTipologie | async)" [value]="tipo">
            {{tipo.desc}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="tipologia.hasError('required')">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="tipologiaDropdown.hasError('required')">Campo Obbligatorio</mat-error>
      </mat-form-field>

    </div>

   <div fxLayout="row wrap" *ngIf="displayTitoli" fxLayout.sm="column" fxLayout.xs="column">

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Titolo di studio</mat-label>
      <mat-select #titoliSelect
                  formControlName="titolo"
                  placeholder="Seleziona titolo di studio">

        <ngx-mat-select-search  formControlName="titoloDropdown"
                                [noEntriesFoundLabel]="'Nessun risultato'"
                                [placeholderLabel]="'Cerca tipologia . . '"></ngx-mat-select-search>
        <mat-option *ngFor="let titl of (filtroTitolo | async)" [value]="titl">
          {{titl.desc}}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="titolo.hasError('required')">Campo Obbligatorio</mat-error>
      <mat-error *ngIf="titoloDropdown.hasError('required')">Campo Obbligatorio</mat-error>
    </mat-form-field>

   </div>


    <div fxLayout="row wrap" *ngIf="displayIndirizzi" fxLayout.sm="column" fxLayout.xs="column">

      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Indirizzo di studio</mat-label>
        <mat-select #indirizziSelect
                    formControlName="indirizzo"
                    placeholder="Seleziona indirizzo studio">

          <ngx-mat-select-search  formControlName="indirizzoDropdown"
                                  [noEntriesFoundLabel]="'Nessun risultato'"
                                  [placeholderLabel]="'Cerca tipologia . . '"></ngx-mat-select-search>
          <mat-option *ngFor="let ind of (filtroIndirizzi | async)" [value]="ind">
            {{ind.desc}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="indirizzo.hasError('required')">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="indirizzoDropdown.hasError('required')">Campo Obbligatorio</mat-error>
      </mat-form-field>

    </div>


    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Provincia Istituto</mat-label>
        <mat-select #provinceSelect
                    formControlName="provinciaIstituto"
                    placeholder="Seleziona Provincia istituto">

          <ngx-mat-select-search  formControlName="provinceDropdown"
                                 [noEntriesFoundLabel]="'Nessun risultato'"
                                 [placeholderLabel]="'Cerca provincia . . '"></ngx-mat-select-search>
          <mat-option *ngFor="let prov of (filtroProvince | async)" [value]="prov">
            {{prov.nome}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="provinciaIstituto.hasError('required')">Campo Obbligatorio</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Comune Istituto</mat-label>
        <mat-select #comuneSelect
                    formControlName="comuneIstituto"
                    placeholder="Seleziona Comune istituto">
          <ngx-mat-select-search  formControlName="comuniDropdown"
                                 [noEntriesFoundLabel]="'Nessun risultato'"
                                 [placeholderLabel]="'Cerca comune . . '"></ngx-mat-select-search>
          <mat-option *ngFor="let com of (filtroComuni | async)" [value]="com">
            {{com.nome}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="comuneIstituto.hasError('required')">Campo Obbligatorio</mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex="18">
          <mat-label>Anno diploma</mat-label>
          <input formControlName="dataConseguimento"
                 matInput
                 maxlength="4"
                 minlength="4"
                 placeholder="Anno Diploma">


          <mat-error *ngIf="dataConseguimento.hasError('required')">Campo Obbligatorio</mat-error>
          <mat-error *ngIf="dataConseguimento.hasError('onlyNumber')">Inserire nel campo solo numberi</mat-error>
          <mat-error *ngIf="dataConseguimento.hasError('max')">L'anno è superiore all'anno corrente</mat-error>
          <mat-error *ngIf="dataConseguimento.hasError('minlength')">L'anno deve avere solo 4 numeri</mat-error>
          <mat-error *ngIf="dataConseguimento.hasError('maxlength')">L'anno deve avere solo 4 numeri</mat-error>
        </mat-form-field>


    </div>


  <div fxLayout="column">
    <div fxFlex="row" fxLayoutGap="15px">
      <span fxFill fxFlex="1 1 0"></span>
      <button class="stepper_button" color="primary" mat-flat-button matStepperPrevious>Indietro</button>
      <button class="stepper_button" color="primary" mat-flat-button matStepperNext>Avanti</button>
    </div>
  </div>

  </div>
</div>


{{isFormValid()}}
