<ng-template matStepLabel>
  <h3>Anagrafica</h3>
</ng-template>

<mat-panel-title>
  <img id="spid-logo" src="../../../../../../assets/spid2/img/spid-logo.png" />
</mat-panel-title>


<form [formGroup]="anagraficaForm">
  <div fxLayout="row wrap"  fxLayout.sm="column" fxLayout.xs="column" [formGroup]="anagraficaForm">

    <mat-form-field appearance="outline" fxFlex="35" fxFlex.sm="1 0 auto">
      <mat-label>Cognome</mat-label>
      <label>
        <input formControlName="Cognome" name="cognome"
               matInput
               placeholder="Cognome"
               readonly>
      </label>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="35" fxFlex.sm="1 0 auto">
      <mat-label>Nome</mat-label>
      <label>
        <input formControlName="Nome" name="nome"
               matInput
               placeholder="Nome"
               readonly>
      </label>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="" fxFlex.sm="grow">
      <mat-label>Codice fiscale</mat-label>
      <label>
        <input formControlName='CodiceFiscale' name="codiceFiscale"
               matInput
               placeholder="Codice Fiscale"
               readonly>
      </label>
    </mat-form-field>

  </div>

  <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column">

    <mat-form-field appearance="outline" fxFlex="35" fxFlex.sm="">
      <mat-label>Residenza</mat-label>
      <label>
        <input formControlName="Residenza" name="residenza"
               matInput
               placeholder="Residenza"
               readonly>
      </label>
    </mat-form-field>



    <mat-form-field appearance="outline" fxFlex="35" fxFlex.sm="">
      <mat-label>Data Nascita</mat-label>
      <label>
        <input formControlName="DataNascita" name="dataNascita"
               matInput
               placeholder="Data Nascita"
               readonly>
      </label>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="" fxFlex.sm="grow">
      <mat-label>Luogo Di Nascita</mat-label>
      <label>
        <input formControlName='LuogoNascita' name="LuogoNascita"
               matInput
               placeholder="Luogo Nascita"
               readonly>
      </label>
    </mat-form-field>

  </div>



  <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column">

    <mat-form-field appearance="outline" fxFlex="35" fxFlex.sm="">
      <mat-label>Telefono</mat-label>
      <label>
        <input formControlName="Telefono" name="Telefono"
               matInput
               placeholder="Telefono"
               readonly>
      </label>
    </mat-form-field>



    <mat-form-field appearance="outline" fxFlex="35" fxFlex.sm="">
      <mat-label>Email</mat-label>
      <label>
        <input formControlName="Email" name="Email"
               matInput
               placeholder="Email"
               readonly>
      </label>
    </mat-form-field>



  </div>

  <div fxLayout="column">
    <div fxFlex="row" fxLayoutGap="15px" fxLayoutAlign="end center" fxLayoutAlign.gt-md="end center"  fxLayoutAlign.lt-md="space-between center">
      <button class="stepper-btn small" color="primary" mat-flat-button matStepperPrevious>Indietro</button>
      <button class="stepper-btn small" color="primary" mat-flat-button matStepperNext>Avanti</button>
    </div>
  </div>


</form>
