<div style="max-width: 1300px; margin: 0 auto;">
  <p>Il seguente applicativo è una demo con le funzioni chiave che l'applicativo deve svolgere durante il concorso. Sezioni come <b>FAQ</b> e <b>CONTATTACI</b>
    non sono state ancora definite in via ufficiale dunque il loro funzionamento è puramente stilistico. Nell'applicativo comunque si potranno svolgere
    le azioni fondamentali necessarie alla presentazione della domanda nel concorso, che equivalgono a:</p>

  <ul>
    <li>Inviare domanda</li>
    <li>Visualizzare domanda già invita</li>
    <li>Aggiornare i dati della domanda</li>
    <li>Loggarsi con il jwt di un cas simulato</li>
  </ul>

  <p>Se si riscontrano bug o malfunzionamenti segnalarli specificando il problema.</p>
</div>


<div >
  <a href="http://localhost:4200" class="italia-it-button italia-it-button-size-l button-spid"
     aria-haspopup="true" aria-expanded="false">
        <span class="italia-it-button-icon">
          <img src="../../../../../assets/spid2/img/spid-ico-circle-bb.png" /></span>
    <span class="italia-it-button-text">Entra con SPID</span></a>


</div>

