<div [formGroup]="parent" fxLayout="column">

<!-- TODO: Cambiare value in model -->
  <p>Scegli una delle seguenti lingue straniere</p>
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" style="margin-bottom: 20px" >
      <mat-button-toggle-group name="fontStyle"

                               fxLayout.sm="column"
                               fxLayout.xs="column"
                               #group="matButtonToggleGroup"
                               (change)="onValChange(group.value)"
                               fxLayout="row" [formControl]="linguaSelezionata" [value]="linguaSelezionata">

     <mat-button-toggle  *ngFor="let i of elencoLingue"
                         [value]="i"
                         fxFlex="25" fxFlex.sm="100" fxFlex.xs="100" >{{i.descrizione}}</mat-button-toggle>
      </mat-button-toggle-group>

  </div>

  <div fxLayout="column">
    <div fxFlex="row" fxLayoutGap="15px">
      <span fxFill fxFlex="1 1 0"></span>
      <button class="stepper_button" color="primary" mat-flat-button matStepperPrevious>Indietro</button>
      <button class="stepper_button" color="primary" [disabled]="allowNextStep()" mat-flat-button matStepperNext>Avanti</button>
    </div>
  </div>

</div>


