<div [formGroup]="form" fxLayout="column">

  <p>Disponi di riserve ?</p>
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" style="margin-bottom: 20px">

    <mat-button-toggle-group fxLayout="row" [formControl]="getSingleForm('aventeRiserve')" [value]="getSingleForm('aventeRiserve').value" >
      <mat-button-toggle  class="toggle-true-false" *ngFor="let x of ['SI', 'NO']" [value]="x">{{x}}</mat-button-toggle>
    </mat-button-toggle-group>

  </div>



  <div *ngIf="getSingleForm('aventeRiserve').value === 'SI'" fxLayout="column">
   <mat-form-field appearance="outline" fxFlex="grow">
     <mat-select [formControl]="getSingleForm('riserveSelezionate')"
                 panelClass="riserve"
                 class="mat-list-item-word-wrap"
                 multiple
                 placeholder="Seleziona Riserve">


       <mat-select-trigger>
         Riserve selezionate
       </mat-select-trigger>

       <mat-option *ngFor="let i of elencoRiserve"  [value]="i">
         {{i.descrizione}}
       </mat-option>

     </mat-select>
   </mat-form-field>
   <ul *ngFor="let i of getSingleForm('riserveSelezionate').value" fxFlex="grow">
     <li>{{i.descrizione}}</li>
   </ul>
 </div>

</div>

<app-stepper [isValid]="form.controls.formTitoliPreferenziali.valid"></app-stepper>




