<div [formGroup]="form" fxLayout="column">

  <p>Disponi di riserve ?</p>
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" style="margin-bottom: 20px">

    <mat-button-toggle-group fxLayout="row" [formControl]="getSingleForm('aventeRiserve')" [value]="getSingleForm('aventeRiserve').value" >
      <mat-button-toggle  class="toggle-true-false" *ngFor="let x of ['SI', 'NO']" [value]="x">{{x}}</mat-button-toggle>
    </mat-button-toggle-group>

  </div>



  <div *ngIf="getSingleForm('aventeRiserve').value === 'SI'" fxLayout="column">
    <mat-filter-select fxFlex="100"
                       [dataSet]="elencoRiserve"
                       [bindedForm]="getSingleForm('riserveSelezionate')"
                       [iterateOver]="'descrizione'"
                       [multiple]="true"
    ></mat-filter-select>

   <ul *ngFor="let i of getSingleForm('riserveSelezionate').value" fxFlex="grow">
     <li>{{i.descrizione}}</li>
   </ul>
 </div>

</div>

<app-stepper [isValid]="form.controls.formTitoliPreferenziali.valid"></app-stepper>




