<form [formGroup]="moduloDomanda">

  <div class="container">
    <mat-vertical-stepper #stepper [linear]="false">

      <mat-step>
        <ng-template matStepLabel><h2 class="step_title">Anagrafica</h2></ng-template>
      <anagrafica-childform></anagrafica-childform>
      </mat-step>

      <mat-step [stepControl]="istruzioneIsValid">
          <ng-template matStepLabel><h2 class="step_title">Istruzione</h2></ng-template>
          <step-istruzione [parent]="moduloDomanda"></step-istruzione>
        </mat-step>

      <mat-step [stepControl]="linguaValid">
        <ng-template matStepLabel><h2 class="step_title">Lingua straniera</h2></ng-template>
        <step-lingua [parent]="moduloDomanda"></step-lingua>
      </mat-step>

      <mat-step [stepControl]="titoliValid">
          <ng-template matStepLabel><h2 class="step_title">Titoli preferenziali</h2></ng-template>
          <step-titoli-preferenziali [parent]="moduloDomanda"></step-titoli-preferenziali>
      </mat-step>

      <mat-step [stepControl]="riserveValid" label="riserve">
          <ng-template matStepLabel><h2 class="step_title">Riserve</h2></ng-template>
          <step-riserve [parent]="moduloDomanda"></step-riserve>
      </mat-step>

      <mat-step [stepControl]="categorieProtetteValid">
          <ng-template matStepLabel><h2 class="step_title">Categorie Protette</h2></ng-template>
          <step-categorie-protette [parent]="moduloDomanda"></step-categorie-protette>
      </mat-step>

      <mat-step [stepControl]="accettazioneValid">
          <ng-template matStepLabel><h2 class="step_title">Dichiarazione</h2></ng-template>
          <app-step-dichiarazione [parent]="moduloDomanda"></app-step-dichiarazione>
      </mat-step>

      <mat-step label="inviaDdomanda">
          <ng-template matStepLabel><h2 class="step_title">Invia Domanda</h2></ng-template>
          <step-invia-domanda [parent]="moduloDomanda"></step-invia-domanda>
      </mat-step>

    </mat-vertical-stepper>

  </div>
</form>
