#content {
  position: relative;
}

#content img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.stepper {
  max-width: 1300px;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}


::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

.interlinea {
  margin-bottom:10px;
}

.interlinea {
  margin-bottom:10px;
}

.mat-form-field {
  padding-top:5px;
}



::ng-deep .mat-select-panel mat-option.mat-option {
  height: unset;
}

::ng-deep .mat-option-text.mat-option-text {
  white-space: normal;
}

hideSelect {
  color:white !important;
}


/* Flex Layout: */

.col-main {
  flex-basis: auto; /* default value */
  flex-grow: 1;
  max-width: 730px;

}

.col-complementary {
  flex-basis: auto; /* default value */
  flex-grow: 1;
  max-width: 450px;
}
.col-small {
  flex-basis: auto; /* default value */
  flex-grow: 1;
  max-width: 290px;
}



/* Responsive: */

@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}


@media only screen and (min-width: 1920px) {
  .col-main {
    flex-basis: auto; /* default value */
    flex-grow: 1;
    max-width: 730px;
  }

  .col-complementary {
    flex-basis: auto; /* default value */
    flex-grow: 1;
    max-width: 450px;
    min-width: 450px;
  }

  .col-small {
    flex-basis: auto; /* default value */
    flex-grow: 1;
    max-width: 290px;
  }

}



.col {
  padding-right:1em;
  margin: 0 2px 2px 0;
}

::ng-deep .ng-tns-c11-12{ color: transparent; }
::ng-deep .ng-tns-c11-14{ color: transparent; }

.empty-space {
  padding: 2em;
}

.stepper-title {
  font-weight: 600;
}

.correct-field {
  color: #67c95a;
}


.incorrect-field {
  border-radius: 4px ;
  color: #fd9726;
}


