<form [formGroup]="moduloDomanda">

  <div class="container">
    <mat-vertical-stepper #stepper [linear]="false">

      <mat-step label="Anagrafica">
        <ng-template matStepLabel><h3 class="stepper-title">Anagrafica</h3></ng-template>
      <anagrafica-childform></anagrafica-childform>
      </mat-step>

        <mat-step [stepControl]="istruzioneIsValid" label="Istruzione">
          <ng-template matStepLabel><h3 class="stepper-title">Istruzione</h3></ng-template>
          <step-istruzione [parent]="moduloDomanda"></step-istruzione>
        </mat-step>

      <mat-step [stepControl]="linguaValid" label="linguaStraniera">
        <ng-template matStepLabel><h3 class="stepper-title">Lingua straniera</h3></ng-template>
        <step-lingua [parent]="moduloDomanda"></step-lingua>
      </mat-step>

      <mat-step [stepControl]="titoliValid" label="titoliPreferenziali">
        <form [formGroup]="moduloDomanda">
          <ng-template matStepLabel><h3 class="stepper-title">Titoli preferenziali</h3></ng-template>
          <step-titoli-preferenziali [parent]="moduloDomanda"></step-titoli-preferenziali>
        </form>
      </mat-step>


      <mat-step [stepControl]="riserveValid" label="riserve">
        <form [formGroup]="moduloDomanda">
          <ng-template matStepLabel><h3 class="stepper-title">Riserve</h3></ng-template>
          <step-riserve [parent]="moduloDomanda"></step-riserve>
        </form>
      </mat-step>

      <mat-step [stepControl]="categorieProtetteValid" label="categorieProtette">
        <form [formGroup]="moduloDomanda">
          <ng-template matStepLabel><h3 class="stepper-title">Categorie Protette</h3></ng-template>
          <step-categorie-protette [parent]="moduloDomanda"></step-categorie-protette>
        </form>
      </mat-step>


      <mat-step [stepControl]="accettazioneValid" label="dichirazione">
        <form [formGroup]="moduloDomanda">
          <ng-template matStepLabel><h3 class="stepper-title">Dichiarazione</h3></ng-template>
          <app-step-dichiarazione [parent]="moduloDomanda"></app-step-dichiarazione>
        </form>
      </mat-step>

      <mat-step label="inviaDdomanda">
        <form [formGroup]="moduloDomanda">
          <ng-template matStepLabel><h3 class="stepper-title">Invia Domanda</h3></ng-template>
          <step-invia-domanda [parent]="moduloDomanda"></step-invia-domanda>
        </form>
      </mat-step>

    </mat-vertical-stepper>

  </div>
</form>
