<div class="example-box" cdkDrag>

  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

<div fxLayout="column">
  <div fxLayout="row">
    <mat-checkbox [(ngModel)]="tokenView">Token Setter</mat-checkbox>
    &nbsp;
    &nbsp;
    <mat-checkbox [(ngModel)]="httpLogView">Http Logger</mat-checkbox>
  </div>

  <div *ngIf="tokenView">
    <h4>Token Setter</h4>
    <div>
      <mat-form-field>
        <label>
          <input matInput placeholder="Token" [(ngModel)]="token" >
        </label>
      </mat-form-field>

      <button  mat-flat-button color="primary" (click)="setToken()">Set Token</button>
      <button  mat-flat-button color="warn" (click)="removeToken()">Remove Token</button>

    </div>
  </div>

  <div class="log-list" *ngIf="httpLogView">
    <h4>Http Logger</h4>
    <button mat-raised-button (click)="messageService.clear()">Clear</button>
    <br>
    <br>
    <mat-list-item *ngFor='let message of messageService.messages; let i = index'>
      <a>{{i}}: {{message}}</a>
    </mat-list-item>
  </div>

</div>

</div>
