b {
  text-transform: uppercase;
}

p {
  text-transform: uppercase;
  font-size: 18px;
}

.key-name {
  font-size: 18px !important;
  text-transform: uppercase;
}

.ciao {
  font-size: 18px !important;
}
