<div [formGroup]="form" fxLayout="column">

  <p>Disponi di titoli preferenziali ?</p>
  <div fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" style="margin-bottom: 20px">

    <mat-button-toggle-group fxLayout="row" [formControl]="getSingleForm('aventeTitoli')" [value]="getSingleForm('aventeTitoli').value">
      <mat-button-toggle  class="toggle-true-false" *ngFor="let x of ['SI', 'NO']" [value]="x">{{x}}</mat-button-toggle>
    </mat-button-toggle-group>

  </div>



  <div *ngIf="getSingleForm('aventeTitoli').value === 'SI'" fxLayout="column" formGroupName="formTitoliPreferenziali">
    <mat-form-field appearance="outline">
      <mat-select formControlName="titoliSelezionati"
                  panelClass="titoli-preferenziali"
                  class="mat-list-item-word-wrap"
                  multiple
                  placeholder="Seleziona Titoli">


        <mat-select-trigger>
          TITOLI SELEZIONATI
        </mat-select-trigger>

        <mat-option *ngFor="let i of elencoTitoliPreferenziali" [value]="i">
          {{i.descrizione}}
        </mat-option>


      </mat-select>

    </mat-form-field>

    <ul *ngFor="let i of getSingleForm('titoliSelezionati').value">
      <li style="margin-bottom: 10px;">{{i.descrizione}}</li>
      <div *ngIf="i.id == 17"  fxLayout="column" style="margin-top: 10px;">
        <p>Scegli il numero dei figli</p>
        <div fxFlex.sm="100" fxFlex.xs="100" fxFlex="50" style="margin-bottom: 20px" >
          <mat-button-toggle-group fxLayout.sm="column"
                                   fxLayout.xs="column"
                                   fxLayout="row" formControlName="numeroFigliSelezionati" [value]="getSingleForm('numeroFigliSelezionati').value" >

            <mat-button-toggle [value]="'1'" fxFlex="25" fxFlex.sm="100" fxFlex.xs="100" >1</mat-button-toggle>
            <mat-button-toggle [value]="'2'" fxFlex="25" fxFlex.sm="100" fxFlex.xs="100" >2</mat-button-toggle>
            <mat-button-toggle [value]="'3'" fxFlex="25" fxFlex.sm="100" fxFlex.xs="100" >3</mat-button-toggle>
            <mat-button-toggle [value]="'4'" fxFlex="25" fxFlex.sm="100" fxFlex.xs="100" >4</mat-button-toggle>
            <mat-button-toggle [value]="'5'" fxFlex="25" fxFlex.sm="100" fxFlex.xs="100" >5+</mat-button-toggle>
          </mat-button-toggle-group>

        </div>
      </div>

      <mat-divider></mat-divider>
    </ul>

  </div>


</div>

<app-stepper [isValid]="form.controls.formTitoliPreferenziali.valid"></app-stepper>



