<mat-card style="width: 1200px; margin: 0 auto">
  <mat-card-header>
    <mat-card-title>
      <span>INFORMAZIONI CONCORSO</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div fxLayout="row">
      <mat-list fxFlex="50">
        <mat-list-item>
          <b>Nome Concorso:&nbsp;</b> <p class="info">Concorso Ispettore Logistico Gestionale . . . . </p>
        </mat-list-item>
        <mat-list-item>
          <b>Nome Titolo Concorso:&nbsp;</b> <p class="info">Concorso Ispettore Logistico Gestionale</p>
        </mat-list-item>
        <mat-list-item>
          <b>Data Inizio Domanda:&nbsp;</b> <p class="info">10/09/2019</p>
        </mat-list-item>  <mat-list-item>
        <b>Data Fine Concorso:&nbsp;</b> <p class="info">12/12/2019</p>
        </mat-list-item>
      </mat-list>

        <mat-list fxFlex="50">
          <mat-list-item>
            <b>Domanda inviata il:&nbsp;</b> <p class="info">10/02/2019 ore 10:23</p>
          </mat-list-item>
          <mat-list-item>
           <b>Ultima modifica:&nbsp;</b> <p class="info">12/02/2019 ore 13:23</p>
          </mat-list-item>
          <mat-list-item>
            <b>Stato domanda:&nbsp;</b> <p class="info">Inviata</p>
          </mat-list-item>
        </mat-list>
    </div>




  </mat-card-content>
  <mat-card-actions>
  <button fxFlex="0 10 50" mat-button color="primary"><a>MODIFICA DOMANDA</a></button>
  <button fxFlex="0 10 50" mat-button color="primary"><a>VISUALIZZA DOMANDA</a></button>
  </mat-card-actions>
</mat-card>
