<mat-card style="max-width: 1500px; margin: 0 auto">
  <mat-card-header style="">
    <mat-card-title style="text-transform: uppercase">
      <span>{{infoConcorso.titoloConcorso}}&nbsp;</span> <p class="info"></p>
    </mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>

    <div fxLayout="row">
      <mat-list fxFlex>
        <mat-list-item >
        <span class="key-name">Data termine presentazione domanda:&nbsp;</span> <b class="info">{{infoConcorso.dataFineConcorso | customDate}}</b>
        </mat-list-item>

          <mat-list-item *ngIf="stato !== 0">
            <span class="key-name">Domanda inviata il:&nbsp;</span> <b class="info">{{infoConcorso.dataInizioDomanda | customDate}}</b>
          </mat-list-item>
        <mat-list-item *ngIf="stato !== 0">
           <span class="key-name">Ultima modifica:&nbsp;</span> <b class="info">{{infoConcorso.dataFineDomanda | customDate}}</b>
          </mat-list-item>

          <mat-list-item>
          </mat-list-item>

          <mat-list-item>
            <i class="ciao">Ciao {{domanda.domanda.anagCandidato.nome + ' ' + domanda.domanda.anagCandidato.cognome}},
              <br> non hai ancora presentato la domanda.</i>
          </mat-list-item>
        </mat-list>
    </div>




  </mat-card-content>
  <mat-card-actions>
  <button fxFlex *ngIf="stato !== 2" [routerLink]="['/apf/compile']" mat-button color="primary"><a style="font-size: 22px">{{domanda.operazione| infoAzioneDomanda}}</a></button>
  <button fxFlex *ngIf="stato === 1" [routerLink]="['/user']"  mat-button color="primary"><a style="font-size: 22px">VISUALIZZA DOMANDA</a></button>
  </mat-card-actions>
</mat-card>

