<div class="container mat-elevation-z8">
  <div class="form-container">
    <div *ngFor="let blocco of ($dataSet | async)">
      <h2>{{blocco?.titoloBlocco}}</h2>

      <div *ngIf="blocco?.tipo === formType?.input" fxLayout="row wrap" fxLayout.xs="column">
        <div *ngFor="let dato of blocco?.dati" [fxFlex]="30" fxFlex.xs="100">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{dato.etichetta}}</mat-label>
            <input matInput [placeholder]="dato.etichetta" [value]="dato.valore">
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="blocco.tipo === formType.lista"fxLayout="row wrap" fxLayout.xs="column">
        <ul *ngFor="let dato of blocco.dati" fxFlex="100">
          <li fxFlex>{{dato.valore}}</li>
        </ul>
      </div>

    </div>
  </div>
</div>
