h1 {
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.modulo {
  max-width: 1300px;
  min-width: 300px;
  margin: 0 auto;
  background-color: white;
}

.container {
  max-width: 1380px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 15px;
}

.form-container {
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.mat-form-field {
  padding-left: 16px;
  color: #5a6772;
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}


li{
  margin-top: 15px;
  color: #5a6772;
  font-size: 18px;
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;

}
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #0066cc; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
