
.menu {
  margin-bottom: 1px;
  padding-bottom: 0;

  .menu_title {
    font-weight: 300;
  }

  .menu_info {
    padding: 0;
  }

  .menu_item {

    margin-left: 10px;
  }

  .menu_item_text {
    padding-right: 3px;
  }

  .router-link-active {
    border-left: 3px solid rgb(2, 103, 204);
  }

  .menu_style:hover{
    border-left: 3px solid rgb(2, 103, 204);
  }

  .menu_info_text {
    font-size: 18px;
    font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  }

  .value {
    margin-right: 16px;
  }

  .divider {
    margin: 10px;
  }

  mat-icon {
    margin-right: 10px;
  }

  .action {
    font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 16px;
    margin-left: 24px;
    color: #2f2f2f
  }
}
#info-user {
  font-size: 30px;
  margin-bottom: 3px
}

.sidenav_name_displayed {
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin-left: 15px;
  font-size: 28px;
  font-weight: 300;
}


