.menu {
  margin-bottom: 1px;
  padding-bottom: 0;

  .menu_title {
    font-weight: 300;
  }

  .menu_item {
    margin-left: 10px;
  }

  .menu_item_text {
    padding-right: 3px;
  }

  .divider {
    margin: 10px;
  }

}

