<div class="menu">
  <mat-nav-list>

    <mat-list class="menu_info">
      <mat-list-item fxLayout="column" *ngIf="stato === 1">
        <span class="menu_info_text">DATA INVIO:</span>
        <span fxFlex="1 1 auto"></span>
        <a class="menu_info_text value">{{dataInvio | customDate}}</a>
      </mat-list-item>


      <mat-list-item fxLayout="column" *ngIf="stato === 1">
        <span class="menu_info_text">ULTIMA MODIFICA:</span>
        <span fxFlex="1 1 auto"></span>
        <a class="menu_info_text value">{{dataModifica| customDate}}</a>
      </mat-list-item>

      <mat-list-item fxLayout="column">
        <span class="menu_info_text">DOMANDA:</span>
        <span fxFlex="1 1 auto"></span>
        <a class="menu_info_text value">{{stato| statoDomanda}}</a>
      </mat-list-item>
    </mat-list>

  </mat-nav-list>

  <mat-divider class="divider"></mat-divider>

  <mat-nav-list>
    <mat-list-item fxLayout="row" class="menu_title">
      <mat-icon>menu_open</mat-icon>
      <h3 style="font-weight: 400">AZIONI</h3>
    </mat-list-item>


    <mat-list class="menu_item">
      <mat-list-item fxLayout="column" [routerLink]="['/apf/info']"   routerLinkActive="router-link-active" class="menu_style">
        <a class="menu_item_text" style="font-size: 14px;margin-left: 24px; color: #2f2f2f">PROFILO</a>
      </mat-list-item>


      <mat-list-item *ngIf="stato !== 0" fxLayout="column" [routerLink]="['/user']" routerLinkActive="router-link-active" class="menu_style">
        <a class="menu_item_text" style="font-size: 14px;margin-left: 24px; color: #2f2f2f">VISUALIZZA DOMANDA</a>
      </mat-list-item>

      <mat-list-item fxLayout="column"  [routerLink]="['/apf/compile']" routerLinkActive="router-link-active" class="menu_style">
        <a class="menu_item_text" style="font-size: 14px;margin-left: 24px; color: #2f2f2f">{{stato | infoAzioneDomanda}}</a>
      </mat-list-item>
    </mat-list>

  </mat-nav-list>


  <mat-nav-list>
    <mat-list-item class="menu_title" fxLayout="column">
      <b class="menu_item_text"><mat-icon>help</mat-icon></b>
      <h3 style="font-weight: 400">FAQ</h3>
    </mat-list-item>


    <mat-list-item class="menu_title" fxLayout="column">
      <a class="menu_item_text"><mat-icon>comment</mat-icon></a>
      <h3 style="font-weight: 400">ASSISTENZA</h3>
    </mat-list-item>
  </mat-nav-list>
</div>
