<div class="menu">
  <mat-nav-list>
    <mat-list-item fxLayout="row" class="menu_title">
      <h3>INFORMAZIONI</h3>
      <span fxFill></span>
      <mat-icon>arrow_drop_down</mat-icon>
    </mat-list-item>

    <mat-list class="menu_item">
      <mat-list-item fxLayout="column">
        <b class="menu_item_text">Data invio:</b>
        <a class="menu_item_text">02/12/1995</a>
      </mat-list-item>


      <mat-list-item fxLayout="column">
        <b class="menu_item_text">Ultima modifica:</b>
        <a class="menu_item_text">02/12/1995</a>
      </mat-list-item>

      <mat-list-item fxLayout="column">
        <b class="menu_item_text">Stato:</b>
        <a class="menu_item_text">Modificabile</a>
      </mat-list-item>
    </mat-list>

  </mat-nav-list>

  <mat-nav-list>
    <mat-list-item fxLayout="row" class="menu_title">
      <h3>AZIONI</h3>
      <span fxFill></span>
      <mat-icon>arrow_drop_down</mat-icon>
    </mat-list-item>


    <mat-list class="menu_item">
      <mat-list-item fxLayout="column">
        <a class="menu_item_text">Profilo</a>
      </mat-list-item>


      <mat-list-item fxLayout="column">
        <a class="menu_item_text">Visualizza domanda</a>
      </mat-list-item>

      <mat-list-item fxLayout="column">
        <a class="menu_item_text">Modifica domanda</a>
      </mat-list-item>
    </mat-list>

  </mat-nav-list>

  <mat-divider class="divider"></mat-divider>

  <mat-nav-list>
    <mat-list-item class="menu_title" fxLayout="column">
      <b class="menu_item_text"><mat-icon>help</mat-icon></b>
      <a class="menu_item_text">Faq</a>
    </mat-list-item>


    <mat-list-item class="menu_title" fxLayout="column">
      <a class="menu_item_text"><mat-icon>comment</mat-icon></a>
      <a class="menu_item_text">Assistenza</a>
    </mat-list-item>
  </mat-nav-list>
</div>
