.menu {
  margin-bottom: 1px;
  padding-bottom: 0;

  .menu_title {
    font-weight: 300;
  }

  .menu_info {
    padding: 0;
  }

  .menu_item {
    margin-left: 10px;
  }

  .menu_item_text {
    padding-right: 3px;
  }

  .router-link-active {
    border-left: 2px solid rgb(2, 103, 204);
  }

  .menu_style:hover{
    border-left: 2px solid rgb(2, 103, 204);
  }

  .menu_info_text {
    font-size: 14px;
  }

  .value {
    margin-right: 16px;
    text-transform: uppercase;
  }

  .divider {
    margin: 10px;
  }

  mat-icon {
    margin-right: 10px;
  }

}

