<div [formGroup]="parent" fxLayout="column">
  <p>Con la seguente il candidato dichiara:</p>

  <div fxLayout="column" fxLayoutGap="10px" style="list-style-type: none;">
    <ul *ngFor="let i of testoDichiarazioni">
      <li>{{i}}</li>
    </ul>

    <mat-checkbox color="primary" [formControl]="approvazione">Dichiaro di essere idoneo</mat-checkbox>
  </div>

  <div fxLayout="column" style="margin-top: 10px;">
    <div fxFlex="row" fxLayoutGap="15px" fxLayoutAlign="end center" fxLayoutAlign.gt-md="end center"  fxLayoutAlign.lt-md="space-between center">
      <button fxFlex color="primary"  mat-flat-button matStepperPrevious>Indietro</button>
      <button fxFlex color="primary" mat-flat-button matStepperNext>Avanti</button>
    </div>
  </div>

</div>
