h1 {
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.modulo {
  max-width: 1300px;
  min-width: 300px;
  margin: 0 auto;
  background-color: white;
}

.container {
  max-width: 1380px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.form-container {
  max-width: 1270px;
  background-color: white;
  margin: auto 0;
}


.mat-form-field {
  padding-left: 16px;
  color: #5a6772;
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

h2 {
  font-family: "Titillium Web", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  padding-left: 16px;
}



